body{
    padding: 0;
    margin: 0;
}
main{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;

}
form{
    /* background-color: lightcoral; */
    width: 30%;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 2px solid grey;
    margin-top: 20px;
}
img,input,a,button{
    display: block;
}
img{
    width: 100%;
    height: 150px;
    margin: auto;
}
input{
    width: 100%;
    height: 30px;

    margin-top: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid gray;
}
button{
    width: 100%;
    height: 30px;
    color: white;
    background-color: blue;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}
hr{
    margin-top: 40px;
}
a{
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}
h4{
    position: absolute;
    top: -100%;
    left: 46%;
    background-color: white;
    padding: 0px 10px;
}
#or-container{
    position: relative;
    height: 30px;

}